[submodule "Utilities"]
	path = Utilities
	url = https://github.com/Ultimate-Reality-Game-Engine/Utilities.git
[submodule "Rendering"]
	path = Rendering
	url = https://github.com/Ultimate-Reality-Game-Engine/Rendering.git
